@font-face {
    font-family: 'Press Start 2p';
}

body {
    overflow: hidden;
    font-family: 'Press Start 2p';
}

#balance {
    position: fixed;
    top: 15px;
    right: -8px;
}

#inner {
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 4px 0 0 4px;
    padding: 5px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#inner > img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    image-rendering: pixelated;
}


#edge {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position: absolute;
    height: calc(100% + 8px);
    top: -4px;
    left: -15px;
}


#panel-bg {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position: absolute;
    height: calc(100% + 8px);
    top: -4px;
    left: 0px;
    right: 14px;
    z-index: -1;
    width: 100%;
}

#save-button {
    position: fixed;
    top: 15px;
    left: 10px;
}


.message {
    background: #c0cbdb;
    position: relative;
    padding: 2px 4px;
    color: white;
    font-size: 10px;
    text-shadow: 1px 1px black;
    margin: 5px 10px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.button {
    background: #e6a873;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 2px 10px;
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px black;
    box-shadow: 0px 3px 2px 2px black;
    cursor: pointer;
    margin: 5px 10px;
}

.disabled {
    opacity: 0.5;
}

.button > img {
    margin-left: 3px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#exclamation {
    width: 10px;

}

#question {
    width: 14px;
    height: 20px;
}

.button:hover {
	opacity: 0.8
}

.header {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 27px !important;
    padding: 14px;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    align-items: center;
    padding: 30px 30px 28px;
    text-align: center;

    color: white;
    text-shadow: 1px 1px black;
}

#welcome .button {
    margin-bottom: 10px;
    width: 50%;
    justify-content: center;
}

.farm-tour {
    color: white !important;
    text-shadow: 1px 1px black !important;
    background-color: #b86f50 !important;
}

.reactour__close {
    color: white !important;
}

#tour-button {
    text-align: center;
    margin-top: 22px;
    width: 98px;
}

#logo {
    max-width: 400px;
    margin-top: -93px;
    margin-bottom: -57px;
}