#basket {
    position: fixed;
    right: 28px;
    top: 80px;
    cursor: pointer;
    z-index: 9;
}

#basket > .message {
    position: absolute;
    width: 69px;
    right: -15px;
    bottom: -34px;
}
#basket:hover{
}

.basket-fruit {
    width: 60px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.selected-fruit {
    position: absolute;
    left: 10px;
    top: 4px;
    width: 39px;
    image-rendering: pixelated;
}

.market {
    font-size: 12px;
    color: white;
    text-shadow: 1px 1px black;
}

.board-content {
    font-size: 26px;
    color: white;
    padding: 5px;
    min-width: 200px;
    height: 225px;
    overflow-y:scroll;
}

#board-header {
    z-index: 1;
    color: white;
    border-radius: 12px 12px 0 0px;
    right: 42px;
    padding: 5px 10px;
    font-size: 19px;
    height: 38px;
    text-shadow: 1px 1px 0px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board-header > img {
    width: 22px;
    margin-right: 10px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.board-content > .item {
    display: flex;
    height: 83px;
    padding-top: 5px;
}

.locked {
    opacity: 0.5;
    pointer-events: none
}

.board-content > .item:not(:first-child) {
    margin-top: 5px;
    border-top: 1px solid #ead4aa;
}

.board-content .icon {
    background: #945442;
    width: 75px;
    height: 75px;
    border-radius: 3px;
    border: 2px solid black;
    margin-right: 8px;
    cursor: pointer;
}

.board-content .icon:hover{
    background: #ead4aa;
}

.board-content .icon > .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid #e7cda3;
}

.selected {
    background: #c0cbdb !important;
}

.selected > .image {
    border-color: white !important;
}

.icon > .image > img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 40px;
    filter: drop-shadow(1px 1px 0px white) drop-shadow(-1px 0px 0px white) drop-shadow(0px -1px 0px white)
}

.fruit-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4px;
}

.fruit-details > .title {
    text-shadow: 1px 1px 0px black;
    font-size: 18px;
}

.price {
    text-shadow: 1px 1px 0px black;
    font-size: 15px;
    line-height: 29px;
    height: 30px;
    background: #fdad33;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0 8px;
    outline: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 25px;
}

.fruit-breakdown {
    display: flex;
    justify-content: space-between;
}

.fruit-time {
    font-size: 17px;
    text-shadow: 1px 1px black;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: start;
    align-items: center;
    margin-top: -88px;
}

.fruit-time > img {
    width: 20px;
    margin-right: 7px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

}

.upgrade-required {
    margin: 10px auto 20px;
    display: flex;
    justify-content: center;
}

.insufficient-funds-cross {
    width: 19px;
    image-rendering: pixelated;
    margin-left: 6px;
}

.insufficient-funds-alert {
    width: 10px;
    image-rendering: pixelated;
    margin-left: 6px;
}
