#root {
  background: #62c84c;
}

#container {
  overflow-x: hidden;
}

.item-a {
  grid-area: header;
}

.grass {
  background: url("../../images/land/grass/tile023.png");
}

.grass1 {
  background: url("../../images/land/grass/tile024.png");
}

.rock {
  background: url("../../images/land/rock.png");
  z-index: 1;
}

.dirt {
  background: url("../../images/land/dirt/plain.png");
}

.dirt-corner {
  background: url("../../images/land/dirt/corner.png");
}
.dirt-corner1 {
  background: url("../../images/land/dirt/corner1.png");
}

.dirt-corner2 {
  background: url("../../images/land/dirt/corner2.png");
}

.dirt-corner3 {
  background: url("../../images/land/dirt/corner3.png");
}

.left-edge {
  background: url("../../images/land/dirt/left-edge.png");
}

.right-edge {
  background: url("../../images/land/dirt/right-edge.png");
}

.bottom-edge {
  background: url("../../images/land/dirt/bottom-edge.png");
}

.top-edge {
  background: url("../../images/land/dirt/top-edge.png");
  z-index: 0;
}

.top-corner {
  background: url("../../images/land/dirt/top-corner.png");
}
.top-corner2 {
  background: url("../../images/land/dirt/top-corner2.png");
}

.farm {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-auto-rows: 1fr;
  width: 1000px;
  margin: auto;
  overflow-y: clip;
  position: relative;
}

.farm > div {
  height: calc(1000px / 16);
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  position: relative;
}

#second-land {
  position: relative;
}

#clear-buttons {
  display: flex;
  width: 80%;
}

#clear-buttons > .button {
  width: 50%;
  justify-content: center;
}

#clear-price {
  background: #fcad31;
  border: 1px solid white;
  color: white;
  text-shadow: 1px 1px black;
  padding: 0 21px;
  margin-bottom: 11px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0px black;
}

.lock {
  width: 30px;
  position: absolute;
  /* box-shadow: 1px 1px #191425; */
  filter: drop-shadow(2px 1px 0px #191425)
    drop-shadow(-2px 2px 0px #191425) drop-shadow(0px 0px 0px #191425)
    drop-shadow(0px -2px 0px #191425);
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

.upgrade-land {
  position: absolute;
  width: 95px;
  text-align: center;
  top: 11px;
  left: -18px;
}

#box1 {
  width: 66%;
  position: relative;
  left: 63%;
  top: 10%;
}

#cauliflower-box {
  top: 9%;
  position: absolute;
  width: 34%;
  left: 78%;
}

#potato-box-1 {
  left: 19%;
  width: 25%;
  top: -41%;
  position: absolute;
}

#potato-box-2 {
  left: 43%;
  width: 25%;
  top: -41%;
  position: absolute;
}

#sunflower-box-1 {
  left: 19%;
  width: 25%;
  top: -50%;
  position: absolute;
}

#sunflower-box-2 {
  left: 43%;
  width: 25%;
  top: -50%;
  position: absolute;
}

#pumpkin-box-1 {
  left: 72%;
  width: 25%;
  top: 10%;
  position: absolute;
}

#pumpkin-box-2 {
  left: 95%;
  width: 25%;
  top: 10%;
  position: absolute;
}

#box2 {
  width: 66%;
  position: relative;
  top: -48%;
  left: 13%;
}

.fence-horizontal {
  width: 100%;
  position: relative;
  left: 33%;
  bottom: -7%;
  height: 60%;
}

.fence-post {
  width: 52%;
  position: relative;
  left: 27%;
  bottom: -7%;
  height: 60%;
}

.fence-half {
  width: 89%;
}

.water-edge {
  width: 62.5px;
  height: 62.5px;
  z-index: 99;
  top: 750px;
  image-rendering: pixelated;
}

#water {
  background: #2399db;
  position: absolute;
  top: 760px;
  width: 10000%;
  height: 500%;
  left: -5000%;
}

.stone-vertical {
  height: 200%;
  width: 28px;
  left: 32%;
  top: 100%;
  position: relative;
}

.stone-bl {
  width: 35px;
  top: 297%;
  position: absolute;
  left: 24px;
}

.stone-horizontal {
  width: 300%;
  height: 42px;
  left: 47px;
  position: absolute;
  top: 299%;
}

.upgrade-overlay {
  height: 200% !important;
  width: 200%;
  cursor: url(../../images/ui/cancel.png) 0 0, pointer;
  z-index: 999;
}

.bucket {
  width: 89%;
}

.flowers {
  width: 79%;
  position: relative;
  top: 10%;
  left: 6%;
}

.stump {
  width: 70%;
  position: relative;
  top: 15%;
  left: 10%;
}

.leaves {
  width: 70%;
  position: relative;
  top: 15%;
  left: 10%;
}

.rock1 {
  width: 60%;
  position: relative;
  left: 21%;
  top: 20%;
}

.bridge {
  left: 0;
  width: 135%;
  z-index: 999;
  position: absolute;
  top: -66%;
}

.man {
  width: 63%;
}

.girl {
  width: 74%;
  position: relative;
  left: -17px;
  top: -1px;
}

.carrotMan {
  width: 92%;
  position: relative;
  left: -23%;
}

.baldMan {
  width: 60%;
  position: relative;
  top: 14%;
}

.chat {
  width: 38%;
  top: -25%;
  left: -11%;
  position: relative;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  margin-top: 5px;
}

#salesman:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#environment-left {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-auto-rows: 1fr;
  width: 1000px;
  left: 100%;
  height: 100%;
}

#environment-right {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-auto-rows: 1fr;
  width: 1000px;
  left: -100%;
  height: 100%;
}

#present {
  width: 70%;
  cursor: pointer;
  position: relative;
  top: 10px;

  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

#present:hover {
  opacity: 0.8;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
