#statue {
  grid-column: 4;
  grid-row: 6;
  z-index: 99;
}

#statue > img {
  width: 120%;
  position: relative;
  left: 144%;
  bottom: 64%;
}

#scarecrow {
  grid-column: 9;
  grid-row: 7;
  z-index: 99;
}

#scarecrow > img {
  width: 60%;
  position: relative;
  left: 20%;
  bottom: 30%;
}
