#statue {
  grid-column: 4;
  grid-row: 6;
  z-index: 99;
}

#statue > img {
  width: 120%;
  position: relative;
  left: 144%;
  bottom: 64%;
}

#scarecrow {
  grid-column: 9;
  grid-row: 7;
  z-index: 99;
}

#scarecrow > img {
  width: 60%;
  position: relative;
  left: 20%;
  bottom: 30%;
}

#christmas-tree {
  grid-column: 13;
  grid-row: 9;
  z-index: 99;
}

#christmas-tree > img {
  width: 120%;
  position: relative;
  left: -20%;
  bottom: 50%;
}

#chicken-coop {
  grid-column: 13;
  grid-row: 3;
  z-index: 99;
  cursor: pointer;
}

#chicken-coop:hover {
  filter: drop-shadow(1px 1px 0px white) drop-shadow(-1px 0px 0px white)
    drop-shadow(0px -1px 0px white);
}

#chicken-coop > img {
  width: 120%;
  position: relative;
  left: 40%;
  bottom: 50%;
}
