#statue {
  grid-column: 4;
  grid-row: 6;
  z-index: 99;
}

#statue > img {
  width: 120%;
  position: relative;
  left: 144%;
  bottom: 83%;
}

#farm-cat {
  grid-column: 12;
  grid-row: 6;
  z-index: 99;
}

#farm-cat > img {
  width: 46%;
  position: relative;
  left: 81%;
  bottom: 22%;
  filter: drop-shadow(0px 2px 0px #e43b43);
}

#potato-statue {
  grid-column: 4;
  grid-row: 8;
  z-index: 99;
}

#potato-statue > img {
  width: 120%;
  position: relative;
  left: 144%;
  bottom: 64%;
}

#scarecrow {
  grid-column: 9;
  grid-row: 7;
  z-index: 99;
}

#scarecrow > img {
  width: 60%;
  position: relative;
  left: 20%;
  bottom: 30%;
}

#christmas-tree {
  grid-column: 13;
  grid-row: 9;
  z-index: 99;
}

#christmas-tree > img {
  width: 120%;
  position: relative;
  left: -20%;
  bottom: 50%;
}

#chicken-coop {
  grid-area: 2 / 13 / 4 / 15;
  z-index: 99;
  cursor: pointer;
  position: relative;
}

#chicken-coop:hover {
  filter: drop-shadow(1px 1px 0px white) drop-shadow(-1px 0px 0px white)
    drop-shadow(0px -1px 0px white);
}

#chicken-coop > img:first-child {
  width: 60%;
  position: relative;
  left: 40%;
}

.chicken.walking.one {
  transform: scale(1.9);
  position: absolute;
  left: 15px;
  top: 70%;
  z-index: 1;
}

.chicken.walking.two {
  position: absolute;
  left: 30px;
  top: 170%;
  transform: scale(1.9) rotateY(180deg);
  z-index: 1;
}

.chicken.walking.three {
  position: absolute;
  left: 5px;
  top: 120%;
  transform: scale(1.9) rotatey(180deg);
  animation: walking-chicken 30s infinite;
  animation-timing-function: steps(30, start);
}

#egg-1 {
  position: absolute;
  left: 119px;
  top: 188%;
  z-index: 1;
  filter: drop-shadow(0px 2px 0px #4b9f4a);
}

#egg-2 {
  position: absolute;
  left: 12px;
  top: 208%;
  z-index: 1;
  filter: drop-shadow(0px 2px 0px #4b9f4a);
}

#gold-egg {
  position: absolute;
  left: 61px;
  top: 185%;
  z-index: 1;
  width: 15%;
  filter: drop-shadow(0px 4px 0px #4b9f4a);
}

#chicken-display {
  display: flex;
}

@keyframes walking-chicken {
  0% {
    transform: scale(1.9) translateX(0) rotatey(0);
  }
  49% {
    transform: scale(1.9) translateX(40px) rotatey(0);
  }
  50% {
    transform: scale(1.9) translateX(40px) rotatey(180deg);
  }
  99% {
    transform: scale(1.9) translateX(0) rotatey(180deg);
  }
  100% {
    transform: scale(1.9) translateX(0) rotatey(360deg);
  }
}
