#balance {
    position: fixed;
    top: 20px;
    font-size: 26px;
    color: white;
    border-radius: 12px 0 0 12px;
    right: -2px;
    background: #c28569;
    padding: 5px;
    width: 200px;
    border: 2px solid #ead4aa;
    font-family: 'Common Pixel', sans-serif;
    text-shadow: 2px 2px 0px black;
    box-shadow: 2px 2px 0px #000;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#balance > img {
    width: 30px;
    height: 30px;
}
