

.field {
    flex: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.field:hover {
    transform: scale(1.1);
}
.field:hover > img {
    transform: scale(1.1);
}

.field:hover .field-edges {
    visibility: visible;
}

.field > img {
    width: 70%;
}

.seedling {
    position: absolute;
    top: 10px;
    width: 50% !important;
}


.tree {
    position: absolute;
    top: -36%;
    width: 100% !important;
    z-index: 1;
}

.progress {
    position: absolute;
    bottom: 1px;
}

.harvest {
    position: absolute;
    top: -46%;
    width: 143% !important;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    z-index: 2;
}

.field-edges {
    position: absolute;
    visibility: hidden;
    width: 84%;
    height: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.field-edges > div {
    display: flex;
    justify-content: space-between;
}

.field-edges > div > img {
    width: 13px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
