.item-a {
    grid-area: header;
}

.grass {
    background: url("./images/land/grass/tile023.png");
}

.grass1 {
    background: url("./images/land/grass/tile024.png");
}

.rock {
    background: url("./images/land/rock.png");
}

.pole {
    background: url("./images/land/pole.png");
}

.tree-stump {
    background: url("./images/land/stump.png");
}


.dirt {
    background: url("./images/land/dirt/plain.png");
}

.dirt-corner {
    background: url("./images/land/dirt/corner.png");
}
.dirt-corner1 {
    background: url("./images/land/dirt/corner1.png");
}

.dirt-corner2 {
    background: url("./images/land/dirt/corner2.png");
}

.dirt-corner3 {
    background: url("./images/land/dirt/corner3.png");
}

.left-edge {
    background: url("./images/land/dirt/left-edge.png");
}

.right-edge {
    background: url("./images/land/dirt/right-edge.png");
}

.bottom-edge {
    background: url("./images/land/dirt/bottom-edge.png");
}

.top-edge {
    background: url("./images/land/dirt/top-edge.png");
}

.top-corner {
    background: url("./images/land/dirt/top-corner.png");
}
.top-corner2 {
    background: url("./images/land/dirt/top-corner2.png");
}



.farm {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-auto-rows: 1fr;
}

.farm > div {
    height: calc(100vw / 16);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
