.dig {
    position: absolute;
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px black;
    z-index: 2;
    cursor: pointer;
}

.disc {
    position: absolute;
    left: -12px;
    top: 0;
    z-index: 1;
}

.dig .inner-pixel-panel {
    padding-left: 5px;
}

.discBackground {
    position: absolute;
    width: 34px;
    left: -18px;
    top: -9px;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    z-index: 2;
}

.pickaxe {
    position: absolute;
    width: 27px;
    left: -17px;
    top: -5px;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    z-index: 2;
}
