#timer {
    display: flex;
    font-size: 9px;
    margin-left: 7px;
}

#timer > img {
    width: 10px;
    margin-right: 5px;
    image-rendering: pixelated;
}

.red-timer {
    color: red;
    text-shadow: 1px 1px white;
    font-size: 12px !important;
}
