.upgrade-icons {
    display: flex;;
}
.upgrade-fruit {
    filter: drop-shadow(1px 1px 0px white) drop-shadow(-1px 0px 0px white) drop-shadow(0px -1px 0px white);
    width: 30px;
    image-rendering: pixelated;
    margin-right: 16px;
}

#reward-holder {
    padding: 24px;
}

#reward-coin {
    width: 43px;
    image-rendering: pixelated;
    margin-left: 10px;
}

#reward-button {
    width: 100px;
    margin: auto;
}