.resource-node-shake-animation {
  animation: resource-node-shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes resource-node-shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}

.drop-animation-left {
  left: -40%;
  offset-path: path(
    "M 22.57064 -18.72247 L 22.57064 -18.72247 C 11.9047 -10.804490000000001 6.295680000000001 2.21894 7.8706900000000015 15.408929999999998 L 8.266360000000002 18.722459999999998 L 6.017340000000003 15.423889999999998 L 6.017340000000003 15.423889999999998 C 4.662160000000003 13.4363 2.4120700000000026 12.247119999999999 0.006450000000002731 12.247119999999999 C -2.399169999999997 12.247119999999999 -4.649259999999997 13.4363 -6.004439999999997 15.423889999999998 L -8.253459999999997 18.722459999999998 L -10.636009999999997 16.8723 L -10.636009999999997 16.8723 C -13.038739999999997 15.00648 -16.350219999999997 14.837449999999999 -18.930439999999997 16.44894 L -22.570639999999997 18.72246"
  );
  animation: drop 800ms both;
  offset-rotate: 0deg;
}

.drop-animation-right {
  right: -80%;
  offset-path: path(
    "M -24.37854 -19.22246 L -24.37854 -19.22246 C -13.673240000000002 -11.656920000000001 -7.308060000000001 0.6356799999999971 -7.308060000000001 13.744489999999995 L -7.308060000000001 19.222469999999994 L -4.898550000000001 15.372569999999994 L -4.898550000000001 15.372569999999994 C -3.566890000000001 13.244839999999995 -1.229750000000001 11.956899999999994 1.2803199999999988 11.967529999999995 C 3.7903899999999986 11.978159999999995 6.116529999999999 13.285849999999995 7.430129999999999 15.424779999999995 L 9.762429999999998 19.222469999999994 L 11.406789999999999 17.451619999999995 L 11.406789999999999 17.451619999999995 C 12.841489999999999 15.906559999999995 14.84826 15.019249999999994 16.956599999999998 14.997719999999994 C 19.06494 14.976189999999994 21.089419999999997 15.822339999999993 22.555369999999996 17.337769999999995 L 24.378529999999998 19.222469999999994"
  );
  animation: drop 800ms both;
  offset-rotate: 0deg;
}

@keyframes drop {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
