name: Testnet deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: develop
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%dT%H:%M')"

      - name: Get the current version ref
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Checkout
        uses: actions/checkout@v1

      - name: Install Dependencies
        run: yarn install

      - name: Build
        run: yarn build
        env:
          CI: false
          VITE_API_URL: ${{ secrets.API_URL }}
          VITE_DONATION_ADDRESS: ${{ secrets.DONATION_ADDRESS }}
          VITE_NETWORK: mumbai
          VITE_ACCOUNT_MINTER_CONTRACT: "0x6918C16938095E6247dC3B552B4b14f553be06D4"
          VITE_SESSION_CONTRACT: "0x4B3DffB026DC2752C1681DE8aaFf974fEa46E8b1"
          VITE_FARM_CONTRACT: "0xa6c6bbF5C772916bB39D13D972da9f9CE3E9f369"
          VITE_INVENTORY_CONTRACT: "0x9b78DFb31a3fab4A23F12e4CA6D85C3fEA5E8136"
          VITE_TOKEN_CONTRACT: "0xdD0cdB13D62aADdc6A9F19f836Aaaa32E07f4d04"
          VITE_WISHING_WELL_CONTRACT: "0xbDBB736FC2Ce2b7aEE88e5f86888Cef7414Ad1F5"
          VITE_PAIR_CONTRACT: "0xaE42EA9864C36820627068a11959915f817ce809"
          VITE_TRADER_CONTRACT: "0x123d310FE94FcbA7Ca9a33A3965e2938A7Ac84B8"
          VITE_TREASURY_ADDRESS: "0x1DB57407EE80709D4d862fe81399FBB35B8B9586"
          VITE_BUMPKIN_DETAILS_CONTRACT: "0xAeB15F2aE9f248bf6a3606fadA02EF79f35c8bEF"
          VITE_DISCORD_REDIRECT: "https://sunflower-land.com/testnet/"
          VITE_CLIENT_VERSION: ${{ steps.date.outputs.date }}
          VITE_RELEASE_VERSION: ${{ steps.get_version.outputs.VERSION }}
          VITE_RECAPTCHA_SITEKEY: "6Lfqm6MeAAAAAFS5a0vwAfTGUwnlNoHziyIlOl1s"
          VITE_CLOUDFLARE_CAPTCHA_SITEKEY: "0x4AAAAAAAAoHFfoj3YbRYSO"
          VITE_FROG_CONTRACT: "0x52A5ddFF59E0A27a1cBA75c8045A434b7D296A6c"
          VITE_FROG_DONATION: "0x1AFad0B5A0D532c9123A5f2F879A421413B5b6f7"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1.5.9
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      - name: Deploy static site to S3 bucket
        run: aws s3 sync ./dist/ s3://sunflower-land.com/testnet --delete

      - name: Deploy static site to S3 bucket
        run: aws s3 sync ./dist/ s3://www.sunflower-land.com/testnet --delete
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "master"
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
